.main-chat 
  .main-chat__group-info
    .head-items
      .head-items__team
        test
      .head-items__members
        Member : masa
    .head-btn
      .head-btn__edit
        = link_to "Edit", class: 'head-btn__edit'   
  .main-chat__message-list
    .who-when-a
      .who-when-a__sender
        masa 
      .who-when-a__time
        2019/11/20(Wed) 17:43:01
    .text-a
      おはよう！
    .who-when-b
      .who-when-b__sender
        take 
      .who-when-b__time
        2019/11/20(Wed) 17:43:03
    .text-b
      おやすみ！

  .main-chat__messages-form
    %form.bottom-space
      .bottom-space__white
        %input.bottom-space__white__line{type: 'text', placeholder: 'type a message'}
        %label.bottom-space__white__picture
          = icon('fa','image', class: "bottom-space__white__picture__mtn")
          %input{type: "file", class: "bottom-space__white__picture__file"}
      %input.bottom-space__blue{type: 'submit', value: 'Send'}


