= form_with model: @group, local: true do |f|
  = f.text_field :name, class: "SettingGroupForm__input", placeholder: "グループ名を入力してください"
  = f.collection_check_boxes :user_ids, User.all, :id, :name #:user_idsと:idはサブミットボタンが押された時に送信されるデータの内容を指定している。User.all,と：nameはフォームの表示に使われている
  = f.submit "Save", class: "SettingGroupForm__button" 